.sidebar-block{
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    visibility: inherit;
    opacity: 1;
    /* transition: opacity 300ms linear, visibility 0s linear; */
}

.contents{
    z-index: 11;
    float: right;
    background: white;
    padding-left: 35px;
    padding-right: 34px;
    height: 100vh;
    position: fixed;
    right: 0;
    top:0;
    width: 25%;
    transition: right .4s;

}


.cart-header{
    width: 100%;
    height: 16.5%;
    min-height: 85px;
    padding-top: 30px;
    color: #333;
}

.cartName{
    float: left;
    font-size: 19px;
    font-weight: 700;
}

.exit-icon{
    float: right;
    font-size: 25px;
    cursor: pointer;
}

.cart-img{
    width: 80px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.cart-product-name{
    width: calc(100% - 80px);
    padding-top: 8px;
}

.header-cart-item-name {
    display: block;
    font-size: 17px;
    color: #555;
    line-height: 1.3;
    margin-bottom: 18px;
    transition: all .4s
}

.header-cart-item-name:hover{
    color: #717fe0;
}


.header-cart-item-info{
    display: block;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
}

.cart-info ul{
    height: 50vh;
    overflow: auto;
}

.cart-info ul li{
    display: flex;
    padding-bottom: 15px;
}

.w-full {
    width: 100%;
}

.header-cart-total {
    font-size: 20px;
    color: #222;
    line-height: 1.3;
    padding:40px 0;
}

.flex-w {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.m-r-8{
margin-right: 8px;
}


.cartButtons{
    margin-bottom: 10px;
    padding:0 15px;
    min-width: 135px;
    height: 40px;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    color: #fff;
    background-color: #222;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    transition: all .4s;
    border-radius: 20px;
    display: flex;
    font-weight: 600;
}

.cartButtons:hover {
    border-color: #717fe0;
    background-color: #717fe0;
    color: #fff;
}







