
.pruductsType ul{
    list-style-type: none;
    overflow: hidden;
    font-size: 1.1rem;
    float: left;
}

.pruductsType ul li {
    float: left;
    display: block;
    text-align: center;
    margin-right: 2.5rem;
    text-decoration: none;
    color: var(--clr-gray-12);
    cursor: pointer;
    transition: color 0.3s linear;
  }

  .pruductsType ul :hover{
    padding-bottom: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color:var(--clr-black);
  }

  .filters{
    float: right;
    display: flex;
  }
  

  .filters button{
    min-width: 111px;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    font-size: 1.1rem;
    line-height: 1.2;
    color: var(--clr-gray-12);
    background-color: var(--clr-white);
    cursor: pointer;
    transition: background-color 0.5s,border-color 0.5s,color 0.5s;
  }

  .filters button:hover{
    border-color: var(--clr-blue);
    background-color:  var(--clr-blue);
    color: var(--clr-white);
  }


  /* .filters :not(:last-child){
    min-width: 94px;
    margin-right: 10px;
  } */

  .filters button svg {
    font-size: 16px;
    margin-right: 6px;
    color: var(--clr-black);
    transition:color 0.5s;
  }

  .filters button:hover svg{
    color: var(--clr-white);
  }

  .filters .closeSearch{
    display: none;
    background-color: #e6e6e6;
    position: relative;
  }

  .closeSearch::after {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background-color: #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    transform-origin: center center;
    transform: rotate(-45deg);
    left: calc(50% - 7px);
    bottom: -8px;
    transition: all .5s;
}

.closeSearch:hover:after{
  background-color: #717fe0;
  border-color: #717fe0;
}

  .space{
   width: 10px;
   height: auto;
   display: inline-block;
    }

  .clear{
    clear: both;
  }

  

.SearchBar {
  -moz-transition: height 0.6s, border 0.6s;
  -ms-transition: height 0.6s, border 0.6s;
  -o-transition: height0.6s, border 0.6s;
  -webkit-transition: height 0.6s, border 0.6s;
  transition: height 0.6s, border 0.6s;
  height: 0;
  border:none;
  border-color: white;
  overflow: hidden;
  width: 100%;
  margin-top: 21px;
  border-radius: 2px;
  padding-left: 14px;
}


  .SearchIcon{
    background-color: transparent;
    border: none;
    width: 38px;
    height: 60px;
  }

  .SearchIcon svg{
    color: var(--clr-black);
    font-size: 15px;
  }

  .SearchBar input{
    border:none;
    width: calc(100% - 38px);
    height: 50px;
  }

  .SearchBar input::placeholder{
    color: var(--clr-black);
    font-size: 19px;
  }