.p-b-116{
    padding-bottom: 116px;
}

.send-message{
    border: 1px solid #e6e6e6;
    padding-right: 70px;
    padding-left: 84px;
    padding-bottom: 70px;
    padding-top: 55px;
    height: 100%;
}
.div-title{
    font-size: 24px;
    line-height: 1.5;
    color: #333;
    text-align: center;
    padding-bottom: 30px;
}

.email-div{
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    position: relative;
    margin-bottom: 20px;
}

.email-input{
    color: #333;
    font-size: 13px;
    line-height: 1.6923;
    width: 100%;
    height: 50px;
    padding-left: 62px;
    padding-right: 30px;
    border: none;
}


.email-div img{
    position: absolute;
    top: calc(50% - 9px);
    left: 28px;
    pointer-events: none;
    width: 22px;
}

.email-subject{
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 30px;
}

.email-subject textarea{
    font-size: 13px;
    line-height: 1.6923;
    color: #333;
    padding:25px 28px;
    border: none;
    width: 100%;
}

.submitButton{
    border-radius: 23px;
    background-color: #222;
    width: 100%;
    height: 46px;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    color: #fff;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    display: flex;
    transition: all .4s;
    cursor: pointer;
    padding:0 15px;
    font-weight: 600;
}


.position{
    padding-bottom: 42px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.position-icon{
    width: 60px;
    color: #222;
    text-align: center;
    font-size: 18px;
}

.details{
    width: calc(100% - 60px);
    padding-top: 2px;
}

.details span{
    font-size: 18px;
    line-height: 1.222222;
    color: #333;
}

.details p{
    max-width: 245px;
    font-size: 17px;
    line-height: 1.666667;
    color: #888;
    padding-top: 18px;
}

.blueColor{
    color: #717fe0 !important;
}