/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
  /* border-bottom: 1px solid #e6e6e6; */
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  z-index: 1;
  border-bottom: 1px solid #e6e6e6;
}

.fixed-nav .links span {
  color: var(--clr-grey-1);
}
.fixed-nav .links span {
  color: var(--clr-grey-1);
}

.fixed-nav .links span:hover {
  color: var(--clr-secondary);
}

.fixed-nav .links a {
  color: var(--clr-grey-1);
}

.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}

/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  float: left;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-secondary);
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  /* margin-left: 4rem; */
}

.show-links {
  height: 200px;
}

.links span {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
  cursor: pointer;
}

.links a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}

.links a:hover {
  color: var(--clr-grey-1);
}

/* .search-bar{
  border: 1px solid red;
  width: 46%;
  display: flex;
} */

.icons-direction{
  direction: rtl;
  float: right;
  width: 40%;
}



.search-bar{
position: relative;
display:flex ;
width: 100%;
height: 37px;
border-radius: 2px;
}

.icons{
z-index: 40;
align-items: center;
display: flex;
}



.inputSearch{
position: absolute;
right: 0;
top: 0;
width:0;
height: 37px;
border: 0px solid white;
-moz-transition: width 0.5s, border 0.5s;
-ms-transition: width 0.5s, border 0.5s;
-o-transition: width .5s, border 0.6s;
-webkit-transition: width 0.5s, border 0.5s;
transition: width 0.5s, border 0.5s;
}

.inputTransition{
width: 100%;
border: 1px solid #979797; 
border-radius: 2px;
padding-left: 1rem;
font-size: 17px;
color: black;
-moz-transition: width 0.6s, border 0.6s;
-ms-transition: width 0.6s, border 0.6s;
-o-transition: width.6s, border 0.6s;
-webkit-transition: width 0.6s, border 0.6s;
transition: width 0.6s, border 0.6s;
}



.inputSearch::placeholder {
text-align: left;
padding-left: 5px;
}


@media screen and (min-width: 800px) {
  nav {
    background: transparent;
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  .nav-center {
    /* width: 90vw;
    max-width: 1170px; */
    margin: 0 auto;
    /* display: flex; */
    align-items: center;
    /* justify-content: space-between; */
    /* margin: 0px 4%; */
    padding: 0px 4%;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
    position: relative;
    top: 0.4rem;
  }

  .links {
    display: flex;
  }

  .links span {
    background: transparent;
    color: var(--clr-gray-11);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
  }

  .links a {
    background: transparent;
    color: var(--clr-gray-11);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }

  .links a:hover {
    color: var(--clr-blue-light);
  }
  .links span:hover {
    color: var(--clr-blue-light);
  }
}