.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 9999;
}


.navbar.white {
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  display: none;
}

.logo{
  width: 8rem;
  padding-right: 10px;
}

.flex{
  display: flex;
}

.flex-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav{
  align-items: center;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-elements ul a.active {
  color: var(--clr-blue) !important;
}

.nav-elements a{
  color: var(--clr-grey-12);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  font-weight: 600;
  margin-left: 1.5rem;
}

.nav-elements a:hover{
  color: var(--clr-blue);
}



.right-nav i{
  font-size: 1.1rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.search-input{
  position: relative;
  display:flex ;
  width: 100%;
  height: 37px;
  border-radius: 2px;
  direction: rtl; /* this line to make the text flow from right to left */
}

.search-input i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0;
}

.search-input .hide-field{
  position: absolute;
  right: 0;
  top: 0;
  width:0;
  height: 37px;
  border: 0px solid white;
  transition: width 0.5s, border 0.1s;
}

.search-input .show-field{
  width: 100%;
  border: 1px solid #beb6b6;
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 3rem; /*  this line to adjust the padding */
  font-size: 17px;
  color: black;
  transition: width 0.6s, border 0.6s;
  margin-right: -10px; /* this line to keep the search icon on the right */
}


.show-field::placeholder {
  text-align: left;
  padding-left: 5px;
  }



/********************* Media query ***************/

@media (max-width: 768px) {
  .navbar {
    background-color: white;
    padding:0
  }

  .logo{
    width: 80%;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-icon img{
    width: 1.4rem;
  }
  .nav-elements {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: var(--clr-blue);
    color: white;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    /* width: 100%; */
    height:300px;
    padding-bottom: 41px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    align-items: initial;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }

  .nav-elements a {
    font-size: 0.9rem;
  }


  .right-nav i {
    font-size: 1rem;
    margin-left: 0.9rem;
  }


}

@media (min-width:769px) and (max-width:1200px){

   .navbar {
    padding:0;
  }
  .nav-elements a {
    font-size: 0.8rem;
    margin-left: 1rem;
  }

  .right-nav i {
    font-size: 0.8rem;
    margin-left: 1rem;
}

}
