@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}


* {
  outline: none;
}

/* .bannerButton {
  background: #FFD800;
	border-radius: 23px;
  border: none;
	color: white ;
  text-transform: uppercase;
  min-width: 179px;
  height: 46px;
  font-size: 16px;
  padding-left: 40px;
  padding-top: 10px;
  font-weight: 600;
  cursor: pointer;
	display: flex;
	justify-content: center;
} */

.bannerButton{
	width: 100%;
	display: flex;
}

.bannerButton a{
	background: #717fe0;
	border-radius: 23px;
	color: white ;
  text-transform: uppercase;
  min-width: 179px;
  height: 46px;
  font-size: 16px;
  padding-left: 40px;
  padding-top: 10px;
  font-weight: 600;
}

.bannerButton a:hover {
  color: #FFFFFF;
  background: #222222;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

/* .wrapper {
  max-width: 1335px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: auto;
}

.wrapper a {
  display: inline-block;
  margin: 5px;
}

.wrapper a:first-child {
  margin-left: 0;
} */

.slider-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slide {
  height: 100vh;
  background-size: cover !important;
}

.slide::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9)); */
    bottom: 0;
    left: 0;
}

.previousButton, .nextButton {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		background: url("../../../public/images/arrow.png") no-repeat center center / 47px;
    /* background-image:url('../../../public/images/right.png'); */
		width: 32px;
		height: 32px;
		text-indent: -9999px;
		cursor: pointer;
}

.previousButton:hover, .nextButton:hover {
  background: url('../../../public/images/arrow.png') no-repeat center center / 47px;
}

.previousButton {
  left: 20px;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
          transform: rotate(180deg) translateY(calc(50% + 0px));
}

/* .previousButton:hover {
  left: -10px;
} */

.nextButton {
  right: 20px;
}

/* .nextButton:hover {
  right: -10px;
} */

/* .slider-content {
  text-align: center;
} */

.slider-content .inner {
  box-sizing: border-box;
  position: absolute;
  top: 36%;
  left: 5%;
  /* -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); */
}

.slider-content .inner h3, h1 {
  color: var(--clr-black);
}
.slider-content .inner button{
  font-size: 15px;
  border-radius: 23px;
  color: var( --clr-white);
  background-color: var(--clr-blue-light);
  /* -webkit-transition-delay: 0s;
          transition-delay: 0s; */
}

.slider-content .inner h3 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  /* font-size: 28px; */
  line-height: 1;
}

.slider-content .inner h1 {
  font-family: PlayfairDisplay-Bold;
  font-size: 60px;
  line-height: 1.6;
  font-weight: bold;
}

.slider-content section {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.slider-content section span {
  color: #FFFFFF;
}

/* .slider-content section span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 10px;
}

.slider-content section img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}

.slider-content section span strong {
  color: #FFFFFF;
  font-size: 14px;
  display: block;
} */

@media (max-height: 500px) {
  .slider-wrapper, .slide {
    height: calc(100vh - 75px);
  }    
}

@media (max-width: 640px) {
  .slider-wrapper, .slide {
    height: calc(80vh - 75px);
  }    
}

/* @media (max-height: 600px) {
  .slider-content .inner h3 {
    font-size: 32px;
  }    
} */

@media (max-width: 640px) {
  .slider-content .inner h3 {
    font-size: 32px;
  }
}





.slide .upTOdown  {
	transition: all 0.5s ease;
	-webkit-transform: translateY(-20px);
					transform: translateY(-20px);
	opacity: 0;
}

.slide .downTOup  {
	transition: all 0.5s ease;
	-webkit-transform: translateY(20px);
					transform: translateY(20px);
	opacity: 0;
}

/* .slide button {
	transition: all 0.5s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
	opacity: 0;
} */

.slide .bannerButton a {
	transition: all 0.5s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
	opacity: 0;
}


/* .slide .slide3Animation1  {

  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: ease;
	opacity: 0;
} */


/* .slide button {
	transition: all 2s ease;
	-webkit-transform: translateY(20px);
					transform: translateY(20px);
	opacity: 0;
} */

.slide p {
	transition: all 3s ease;
	-webkit-transform: translateY(20px);
					transform: translateY(20px);
	opacity: 0;
}


.slide.animateIn.previous h3,
.slide.current h3,
.slide.animateIn.next h3,
/* .slide.animateIn.previous button,
.slide.current button,
.slide.animateIn.next button, */
.slide.animateIn.previous h1,
.slide.current h1,
.slide.animateIn.next h1 {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	-webkit-transition-delay: 1.5s;
					transition-delay: 1.5s;
					opacity: 1;
}


.slide.animateIn.previous .bannerButton a,
.slide.current .bannerButton a,
.slide.animateIn.next .bannerButton a {
  -webkit-transform: scale(1);
  transform: scale(1);
-webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
}





.slide.animateIn.previous h1,
.slide.animateIn.next h1 {
	-webkit-transition-delay: 1.9s;
					transition-delay: 1.9s;
}


.slide.animateIn.previous .bannerButton a,
.slide.animateIn.next .bannerButton a {
	-webkit-transition-delay: 2.3s;
					transition-delay: 2.3s;
}



.slide.animateOut h3 {
	-webkit-transition-delay: .3s;
					transition-delay: .3s;
}

.slide.animateOut h1 {
	-webkit-transition-delay: .2s;
					transition-delay: .2s;
}
















.slider {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden
}

.slider a.previousButton, .slider a.nextButton {
	font-size: 22px;
	line-height: 0;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	z-index: 1;
	color: #333;
	padding: 10px;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden
	/* prevent jump effect when scaling */
}

.slider a.previousButton:not(.disabled):hover, .slider a.nextButton:not(.disabled):hover {
	-webkit-transform: translateY(-50%) scale(1.25);
	        transform: translateY(-50%) scale(1.25);
	cursor: pointer;
}

.slider a.previousButton {
	right: 20px;
}

.slider a.nextButton {
	left: 20px;
}

.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden
}

.slide.hidden {
	visibility: hidden;
}

.slide.previous {
	right: -100%;
}

.slide.current {
	right: 0;
}

.slide.next {
	right: 100%;
}

/* .slide.animateIn,
	.slide.animateOut {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
} */

.slide.animateIn,
	.slide.animateOut {
    animation:opac 1s linear}
    @keyframes opac{from{opacity:0} to{opacity:1}}


.slide.animateIn.previous,
		.slide.animateIn.next {
	right: 0;
	visibility: visible;
}

.slide.animateOut.previous {
	right: 100%;
}

.slide.animateOut.next {
	right: -100%;
}

